USE [master]
GO
/****** Object:  Database [EX]    Script Date: 4/4/2024 6:45:05 PM ******/
CREATE DATABASE [EX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EX]
GO
/****** Object:  Table [dbo].[tb_history]    Script Date: 4/4/2024 6:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](10) NOT NULL,
	[product_id] [varchar](10) NOT NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_products]    Script Date: 4/4/2024 6:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_products](
	[id] [varchar](10) NOT NULL,
	[product_id] [varchar](10) NOT NULL,
	[product_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_user]    Script Date: 4/4/2024 6:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_user](
	[id] [varchar](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[address] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_history] ON 

INSERT [dbo].[tb_history] ([id], [user_id], [product_id], [total]) VALUES (2, N'1', N'2024.0', CAST(10.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[tb_history] OFF
GO
INSERT [dbo].[tb_products] ([id], [product_id], [product_name]) VALUES (N'1', N'2024.0', NULL)
GO
INSERT [dbo].[tb_user] ([id], [name], [address]) VALUES (N'1', N'huanvc', N'Quy Nhon')
GO
ALTER TABLE [dbo].[tb_history]  WITH CHECK ADD  CONSTRAINT [fk_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[tb_products] ([product_id])
GO
ALTER TABLE [dbo].[tb_history] CHECK CONSTRAINT [fk_product]
GO
ALTER TABLE [dbo].[tb_history]  WITH CHECK ADD  CONSTRAINT [fk_user_history] FOREIGN KEY([user_id])
REFERENCES [dbo].[tb_user] ([id])
GO
ALTER TABLE [dbo].[tb_history] CHECK CONSTRAINT [fk_user_history]
GO
ALTER TABLE [dbo].[tb_products]  WITH CHECK ADD  CONSTRAINT [fk_user] FOREIGN KEY([id])
REFERENCES [dbo].[tb_user] ([id])
GO
ALTER TABLE [dbo].[tb_products] CHECK CONSTRAINT [fk_user]
GO
USE [master]
GO
